<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MukBang</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="navbar">
        <div class="nav-title">
          <a href="#home">Muk<span>Bang</span></a>
        </div>
        <nav>
          <ul class="nav-daftar">
            <li><a href="#home" class="nav-item">Home</a></li>
            <li><a href="#about" class="nav-item">Favorite</a></li>
            <li><a href="#stream" class="nav-item">About Us</a></li>
          </ul>
        </nav>

        <div class="nav-toggle" id="nav-toggle">
          <span class="menu-toggle"><i class="fa-solid fa-bars"></i></span>
        </div>
      </div>
    </header>

    <main id="maincontent">
      <section class="home-section" id="home">
        <!-- <div class="home-img">
            <img
              src="./images/heros/hero-image_2.jpg"
              width="450"
              alt=""
              class="home-bg"
            />
          </div> -->
        <div class="home-container">
          <div class="hero__inner">
            <h1 class="hero__title">
              Bangun Karirmu Sebagai Developer Profesional
            </h1>
            <p class="hero__tagline">
              Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari
              para inovator dan developer expert
            </p>
            <button id="find">Find Now</button>
          </div>
        </div>
      </section>

      <section class="explore-section" id="explore">
        <div class="explore-container">
          <div class="explore-title">
            <h2>Our Favorite</h2>
          </div>
          <div id="list-resto">
            <!-- List restaurants here -->
            <article class="">

            </article>
          </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <p class="footer-copyright">
        Copyright @aprilia Muk<span>Bang</span> 2024
      </p>
    </footer>
  </body>
</html>
