* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 41, 41);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header {
  min-width: 1000px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.navbar {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) brightness(100%);
  width: 100%;
  height: 5em;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  min-width: 1000px;
  width: 100%;
}

.nav-title {
  display: flex;
  width: 100px;
  gap: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-title a {
  text-decoration: none;
  font-size: 35px;
  color: rgb(255, 108, 11);
  text-shadow: 1px 1px 3px rgb(48, 38, 37);
  font-weight: bold;
}

span {
  color: rgb(255, 255, 255);
}

.nav-daftar {
  text-decoration: none;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-right: 12rem;
}

.nav-daftar a {
  text-decoration: none;
  font-size: 1.15rem;
  text-shadow: 1px 1px 3px rgb(48, 38, 37);
  font-weight: bold;
  display: flex;
  gap: 3rem;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.nav-item {
  text-decoration: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 1px 10px;
  gap: 3rem;
  list-style: none;
  border-radius: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgb(48, 38, 37);
  font-weight: bold;
  z-index: 2;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-daftar {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}

@media screen and (max-width: 768px) {
  /* .header{
    padding: 1.3rem;
   }  */

  .nav-daftar {
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -1000px;
    background-color: #2a292970;
    padding: 1rem 0;
    z-index: 90;
    transition: top 0.5s ease-in-out;
    overflow: hidden;
    left: 0;
  }

  .nav-toggle {
    display: inline-block;
    z-index: 99;
  }

  .nav-daftar.active {
    top: 11vh;
  }
}

/* home */
/* jumbotron */
.home-container {
  position: absolute;
  align-items: center;
  min-width: 1000px;
  height: 100vh;
  margin-top: -8%;
  text-align: center;
  background-position: center;
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.hero {
  img {
    width: 100%;
    min-width: 1000px;
    height: auto;
  }
}

#find {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  background-color: #ff7300;
  color: #fff;
  padding: 10px 16px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.hero__inner {
  text-align: center;
  margin-top: -30rem;
  width: 100%;
  height: 0;
}

.hero__title {
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 1;
  text-shadow: 1px 1px 3px rgb(48, 38, 37);
  font-weight: bold;
}

.hero__tagline {
  color: #fff;
  margin-top: auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgb(48, 38, 37);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  padding-block: 5rem;
  align-items: center;
  justify-content: center;
}

/* home */

/* explore */
#explore {
  margin-top: 100px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.explore-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(219, 100, 44);
  margin-top: 40px;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-weight: bold;
}

.btn-item button {
  margin-top: 3rem;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  border-radius: 10px;
  background-color: #352922;
  color: #fff;
  padding: 10px 16px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.active:hover,
.favorite-btn:hover {
  background-color: #ff7300;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.restoran {
  margin-top: -5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;

  h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: sans-serif;
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    line-height: 1.8;
    font-family: sans-serif;
    text-align: center;
  }
}

.container-list {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-inline: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(228, 228, 228, 0.7);
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2%;
  width: 19em;
  height: 25rem;
  margin: 10px;
  box-sizing: border-box;
}

.list img {
  width: 100%;
  height: auto;
  margin-top: -13rem;
  transition: transform 0.3s ease;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
  }
}

.list button {
  position: absolute;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  background-color: #ff7300;
  color: #fff;
  border: none;
  margin-bottom: 20rem;
  margin-right: 17rem;
}

.list-info {
  width: 100%;
  height: 35vh;
  margin-top: 11rem;
  position: absolute;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  h2 {
    font-weight: 500;
    font-size: medium;
    text-align: center;
    color: rgb(7, 7, 7);
  }

  p {
    font-size: small;
    font-weight: 300;
    text-align: center;
    color: #000;
  }
}

/* explore */

/* footer */
.footer {
  width: 100%;
  height: 5em;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-right: 0;
  margin-left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
}

.footer p {
  text-align: center;
  padding-top: 1rem;
  color: white;
  text-decoration: none;
}
/* footer */
